<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <style>
      * {text-align: center; margin:auto; }
      .title { font-weight: bolder; font-size:3em; margin: 30px 10px;}
			.subtitle { font-weight: bolder; font-size:1.5em; margin: 10px 10px;}
      #src_background {background-color: white;  border: 1px solid blue; }
      #btn_submit {width:100px; height:40px; text-align: center;}
    </style>
  </head>

  <body>
<!-- 1) print image on Canvas created     -->
		<div class="title">관리자모드 - 관심영역 설정 (<%= num_curr %>/<%= num_img %>)</div>
		<div class="title">테스트메시지 <%= path %><%= img_list[num_curr-1] %></div>
    <canvas id="src_background" width= "400px" height= "300px" onClick="findCoordinates()"></canvas>
    <script>
      var canvas = document.getElementById('src_background');
      var context = canvas.getContext('2d');
      var image_src = new Image();
      image_src.src = "<%= path %><%= img_list[num_curr-1] %>";
      var image_width = image_src.width;
      var image_height = image_src.height;
      // alert("<%= img_list[0] %>"+ " : "+image_width + "/" + image_height);
      image_src.onload = function() {
        context.drawImage(image_src,0,0,image_width,image_height,0,0, canvas.width, canvas.height);
      };
      // alert("<%= img_list[0] %>"+ " : "+image_width + "/" + image_height);

      var maxnum_point = 10;
      var block_num = 0;
      var point_num = 0;
      var point_list = new Array(maxnum_point);
      for(var i =0; i<point_list.length; i++){
        point_list[i] = new Array(4);
      }
      var x_ratio = image_width/canvas.width;
      var y_ratio = image_height/canvas.height;

      // function myfunc(){ alert("test") }
      function findCoordinates(){
        point_num++;
        var tmp_x = event.offsetX;
        var tmp_y = event.offsetY;
        var real_x = parseInt(tmp_x * x_ratio);
        var real_y = parseInt(tmp_y * y_ratio);
        if(block_num <= maxnum_point){
          if(point_num%2 != 0){
            point_list[block_num][0] = real_x;
            point_list[block_num][1] = real_y;
          }
          else{
            point_list[block_num][2] = real_x;
            point_list[block_num][3] = real_y;
            var rec_width = (point_list[block_num][2]-point_list[block_num][0])/x_ratio;
            var rec_height = (point_list[block_num][3]-point_list[block_num][1])/y_ratio;
            context.strokeStyle = 'red';
            context.lineWidth = 5;
            context.strokeRect(point_list[block_num][0]/x_ratio,point_list[block_num][1]/y_ratio,rec_width,rec_height);
            block_num++;
          }
        }
        // alert("임시좌표 "+tmp_x+":"+tmp_y+" / 실제좌표 "+real_x+":"+real_y+"\npoint_num:"+point_num+" / block_num:"+block_num + '\nxratio: ' + x_ratio+ ' / yratio: ' + y_ratio);
      }

      function clickButton(btn){
        document.send_form.action = "/setting/" + btn;
        var form = document.send_form;
        form.p_list.value=JSON.stringify(point_list);
        form.b_num.value=block_num;
        if(btn=='finish'){
          alert("완료되었습니다. 메인페이지로 이동합니다.");
        }
        else{
          alert(block_num);
        }
        form.submit();
      }

    </script><br><br>
    <form name="send_form" method="get">
      <input type="hidden" name = "p_list" >
      <input type="hidden" name = "b_num" >
      <button type="submit" class="btn_submit" onclick="clickButton('prev')"> 이전 </button>
      <% if (num_curr!=num_img) { %>
      <button type="submit" class="btn_submit" onclick="clickButton('next')"> 다음 </button>
      <% } else { %>
      <button type="submit" class="btn_submit" onclick="clickButton('finish')"> 제출 </button>
      <% } %>
    </form><br><br>
  </body>
</html>
