<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Web</title>
		<style>
			* {text-align: center; margin:auto; }
			.test { border: 1px solid black;}
			.title { font-weight: bolder; font-size:3em; margin: 30px 5px; clear:both; }
			.subtitle { font-weight: bolder; font-size:1.5em; margin: 10px 10px; }
			.emphasis { color: blue; font-weight: bolder; font-size:130%; }
			.button-link { border: none; background: none; cursor: pointer; color: black; font-family: inherit; font-size: inherit; }
			.button-link:hover { color:blue; font-weight: bolder;}
			table {width: 80%;}
			td { padding: 1%; }
			.img_left {width: auto; height: auto; max-width:60%; max-height:40%;  }
			.img_right {width: auto; height: auto; max-width:60%; max-height:40%;  }
			.icon {padding:1px 10px; }
			.src_list{clear:both;}

		</style>
	</head>
	<body>
		<div class="title">(0518 수정) 메인 페이지</div>
		<!-- <form action="/camera" method="get">
			<input type="submit" value="촬영 시작">
		</form><br><br> -->

		<br><hr><hr><br>

		<div class="subtitle">카메라 연결 정보</div><br><br>
		<% if(c_num != 0){ %>
		<div class="emphasis"><%= c_num %> 개의 카메라가 연결되어 있습니다. </div>
		<% }else{ %>
		<div class="emphasis"> 현재 연결된 카메라가 없습니다. </div>
		<% } %>
		<ul>
			<% for(var i = 0; i<c_num; i++){ %>
			<li>
				<%= "[" + (i+1) + "번] " + c_ip[i] %>
			</li>
			<% } %>
		</ul>
		<br><hr><hr><br>

		<div class="subtitle">이미지 보기</div><br>

		<!-- <div class = img_block>
			<span style="display: inline-block; margin:10px 50px">
				<% if (img_name){ %>
					<img class = img_left src = 'source/<%= img_name %>'> <br>현재선택이미지 <div class="emphasis"><%= img_name %></div>
				<% }else{ %>
					<div class="emphasis">현재 선택된 이미지가 없습니다.</div>
			<% } %>
			</span>
			<span style="display: inline-block;margin:10px 50px">
			<% if (img_list[c_log-1]){ %>
				<img class = img_right src = 'source/<%= img_list[c_log-1]%>'> <br></img>가장최근이미지 <div class="emphasis"><%= img_list[c_log-1]%></div>
			<% }else{ %>
				<div class="emphasis">이미지 로그가 없습니다.</div>
			<% } %>
		</span>
		</div> -->
		<table class="icon">
			<tr>
				<td>
				<% if (img_name){ %>
					<img class = img_left src = 'source/<%= img_name %>'>
				<% }else{ %>
					<div class="emphasis">(선택 이미지 없음)</div>
				<% } %>
				</td>
				<td>
					<% if (img_list[c_log-1]){ %>
						<img class = img_right src = 'source/<%= img_list[c_log-1]%>'>
					<% }else{ %>
						<div class="emphasis">이미지 로그가 없습니다.</div>
					<% } %>
				</td>
			</tr>
			<tr>
				<td>현재선택이미지 <div class="emphasis"><%= img_name %></div></td>
				<td>가장최근이미지 <div class="emphasis"><%= img_list[c_log-1]%></div></td>
		</tr>
		</table>

		<div class=src_list>
			<br><hr><hr><br>
			<table class="icon">
				<tr>
					<td><img class = "icon" src = 'views/data/icon_camera.png'></td>
					<td><img class = "icon" src = 'views/data/icon_picture.png'></td>
					<td><img class = "icon" src = 'views/data/icon_person.png'></td>
				</tr>
				<tr>
					<td><div class="emphasis"><%= c_num %></div></td>
					<td><div class="emphasis"><%= c_log %></div></td>
					<td><div class="emphasis">0</div></td>
			</tr>
			</table>
			<br><hr><hr><br>
			<div class="subtitle" >이미지 목록</div><br><br>

			<ul>
					<% for(var i = 0; i<c_log; i++){ %>
						<form action="/image/<%= img_list[i]%>" method="get">
							<button type="submit" class="button-link" ><%= img_list[i]%></button>
						</form><br><br>
					<% }%>
			</ul>
		</div>

	</body>
</html>
