<!DOCTYPE HTML>
<html>
  <head>
		<title>ADMIN_2</title>
    <meta charset="utf-8">
    <style>
      * {text-align: center; margin:auto; }
      hr.top {margin-bottom:5%;}
      .title { font-weight: bolder; font-size:3em; margin: 30px 10px;}
			.subtitle { color:red; font-weight: bolder; font-size:1.5em; margin: 20px 10px;}
      .emphasis { color: blue; font-weight: bolder; margin:1%;}
      .btn_left {background-color: white; background-image: url("src/webapp/views/data/icon_directionL.png"); background-repeat: no-repeat; background-position: center center; float:left; width:130px; height:80px; text-align: center; border: none; }
      .btn_right {background-color: white;background-image: url("src/webapp/views/data/icon_directionR.png");background-repeat: no-repeat; background-position: center center; float:right; width:130px; height:80px; text-align: center; border: none; }
      .btn_submit {background-color: white;background-image: url("src/webapp/views/data/icon_submit.png");background-repeat: no-repeat; background-position: center center; float:right; width:130px; height:80px; text-align: center; border: none; }
      .UI { width:420px; height:400px; padding:0; }
      #src_background {background-color: white;  border: 3px solid blue; }

    </style>
  </head>

  <body>
		<div class="title">Admin_2 <span class="emphasis">ROI설정</span>(<%= num_curr %>/<%= num_img %>)</div><hr><hr class="top">
    <div class="subtitle"> 이미지가 나타나지 않을 시 새로고침을 눌러주세요 %> <%= path %><%= img_list[num_curr-1] %></div>
    <div class="UI">
    <canvas id="src_background" width= "400px" height= "300px" onClick="findCoordinates()"></canvas>
    <script>
      var canvas = document.getElementById('src_background');
      var context = canvas.getContext('2d');
      var image_src = new Image();
      image_src.src = "<%= path %><%= img_list[num_curr-1] %>";
      var image_width = image_src.width;
      var image_height = image_src.height;
      image_src.onload = function() {
        context.drawImage(image_src,0,0,image_width,image_height,0,0, canvas.width, canvas.height);
      };
      var maxnum_point = 10;
      var block_num = 0;
      var point_num = 0;
      var point_list = new Array();
      for(var i =0; i<maxnum_point; i++){
        point_list[i] = new Array(4);
      }
      var x_ratio = image_width/canvas.width;
      var y_ratio = image_height/canvas.height;
      function findCoordinates(){
        point_num++;
        var tmp_x = event.offsetX;
        var tmp_y = event.offsetY;
        var real_x = parseInt(tmp_x * x_ratio);
        var real_y = parseInt(tmp_y * y_ratio);
        if(block_num <= maxnum_point){
          if(point_num%2 != 0){
            point_list[block_num][0] = real_x;
            point_list[block_num][1] = real_y;
          }
          else{
            point_list[block_num][2] = real_x;
            point_list[block_num][3] = real_y;
            var rec_width = (point_list[block_num][2]-point_list[block_num][0])/x_ratio;
            var rec_height = (point_list[block_num][3]-point_list[block_num][1])/y_ratio;
            context.strokeStyle = 'red';
            context.lineWidth = 5;
            context.strokeRect(point_list[block_num][0]/x_ratio,point_list[block_num][1]/y_ratio,rec_width,rec_height);
            block_num++;
          }
        }
      }
      function clickButton(btn){
        document.send_form.action = "/ADMIN_2/" + btn;
        var form = document.send_form;
        form.p_list.value=JSON.stringify(point_list);
        form.b_num.value=block_num;
        if(btn=='toBASIC'){
          alert("설정이 완료되었습니다.\n메인페이지로 이동합니다.");
        }
        form.submit();
      }
    </script><br><br>
    <form name="send_form" method="get">
      <input type="hidden" name = "p_list" >
      <input type="hidden" name = "b_num" >
      <% if (num_curr!=1) { %>
      <button type="submit" class="btn_left" onclick="clickButton('prev')">  </button>
      <% } if (num_curr!=num_img) { %>
      <button type="submit" class="btn_right" onclick="clickButton('next')"> </button>
      <% } else { %>
      <button type="submit" class="btn_submit" onclick="clickButton('toBASIC')"> </button>
      <% } %>
    </form><br><br>
    </div>
  </body>
</html>
